# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
/.idea.SDBrowser.iml
# Datasource local storage ignored files
/../../../../../../../../:\NonWindows\Projects\FauFau\SDBrowser\.idea\.idea.SDBrowser\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
